<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom text header-style">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo-black-text.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item nav-item-padding">
        <a class="nav-link" href="#">Adopt Kittens</a>
      </li>
      <li class="nav-item nav-item-padding">
        <a class="nav-link" href="#">Kitty Stories</a>
      </li>
      <li class="nav-item nav-item-padding">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item nav-item-padding">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item nav-item-padding">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>

</nav>
