<div class="container-fluid contact-us-styles">
    <div class="row ">
        <div class="col-xs col-sm col-md col-lg col-xl" style="max-width: 490px;">
            <h1 class="title">Contact us</h1>
            <br>
            <p class="description" style="margin-bottom:40px;">We are all cat persons, so if you got any question, drop it below and we will contact you back!
            </p>
            <app-contact-form></app-contact-form>
        </div>
        <div class="col-xs col-sm col-md col-lg col-xl text-end">
            <img src="assets/images/map-layer.png" alt="" class="map-style img-fluid">
            <h1 class="text-head">Headquarters</h1>
            <p class="text ">Aristotelous 16, 54658 <br> Thessaloniki, Greece <br>
            </p>
            <p class="text ">
                +30 231 129 0998 <br> hey@smellycat.gr
            </p>
        </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block "></div>
    </div>
</div>