  <footer>
    <div class="container-fluid footer-container-styles">

      <div class="d-flex flex-column flex-lg-row text justify-content-between align-items-center">
        <div class="p-2"><a href="#">
          <img src="/assets/images/logo-white-text.png" alt="">
        </a></div>
        <div class="d-flex flex-column flex-md-row justify-content-end text-center">
          <div class="footer-links-padding"><a href="#" class="text">Privacy Policy</a></div>
          <div class="footer-links-padding"><a href="#" class="text">Terms & Conditions</a></div>
          <div class="footer-links-padding"><a href="#" class="text">Blog</a></div>
          <div class="footer-links-padding"><a href="#" class="text">Support</a></div>
        </div>
        <div class="d-flex flex-row justify-content-end text-center">
        <div class="link-icon-styles"><a href="#"><span class='bi bi-discord icon-color'></span></a></div>
        <div class="link-icon-styles"><a href="#"><span class='bi bi-twitter icon-color'></span></a></div>
        <div class="link-icon-styles"><a href="#"><span class='bi bi-instagram icon-color'></span></a></div>
      </div>

      </div>
      <div class="footer-copyright text-center copyright-text py-3">Copyright &copy; SmellyCat 2020
        <a href="#"></a>
      </div>
      </div>
  </footer>